.board{
    display: flex;
    background: #efefef;

}
.row {
    border: black 0.2px solid;
    height: 16px;
    width: 16px;
    display: grid;
    place-content: center;
    border: 0.2px solid #000000;
    box-sizing: border-box;

}
.unselected {
    background: #BDBDBD;
    background-position: 0 -39px;
    cursor: pointer;

}
.help {
    width: 16px;
    height: 16px;
    z-index: 100000000000;
}
img {
    width: 2vw;
    height: 2vh;
}
.flag {
    background: url("../../assets/flagsvg.svg") !important;
}
.mine {
    background: url("../../assets/minea.svg");
}